.p1 {
    color: rgb(200, 175, 13);
}

.p2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.p3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    /* font-size: 1.5rem;
    font-size: large; */
}

.p4{
        font-family: 'Courier New', Courier, monospace;
    line-height: 1.5;
    /* line-height: 24px; */
}

.p5{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}


.p6{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.p7{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: line-through;
}

.p8{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: capitalize;
}

.p9{
    letter-spacing: 8px;
}

.p10{
    word-spacing: 10px;
}

.p11{
    text-overflow: clip;
}

.p12{
    white-space: nowrap;
}