.block {
    display: block;
    width: 200px;
    background-color: aqua;
    padding: 10px;
    margin-left: 10px;
}

.inline {
    display: inline;
    background-color: rgb(146, 1, 122);
    width: 200px;
    height: 50px;
}

.inline-block {
    display: inline-block;
    width: 100px;
    height: 50px;
}

/* .none{
    display: none;
} */